:root {
	--text-color: 255, 255, 255;

	--blue: 35, 136, 255;
	--orange: 255, 154, 35;
	--green: 6, 197, 116;
	--purple: 173, 48, 194;
	--yellow: 255, 238, 2;
	--red: 239, 59, 80;
	--cyan: 30, 188, 197;
	--gray-100: 249, 249, 249;
	--gray-200: 237, 237, 237;
	--gray-300: 203, 203, 203;
	--gray-400: 117, 117, 117;
	--gray-500: 58, 66, 84;
}

.blue {
	--color: 35, 136, 255;
}

.orange {
	--color: 255, 154, 35;
}

.green {
	--color: 6, 197, 116;
}

.purple {
	--color: 173, 48, 194;
}

.yellow {
	--color: 255, 238, 2;
}

.red {
	--color: 239, 59, 80;
}

.cyan {
	--color: 30, 188, 197;
}

.gray-100 {
	--color: 249, 249, 249;
}
.gray-200 {
	--color: 237, 237, 237;
}
.gray-300 {
	--color: 203, 203, 203;
}
.gray-400 {
	--color: 117, 117, 117;
}
.gray-500 {
	--color: 58, 66, 84;
}
